<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvtoMagazin.Properties.Settings.Avtomagazin_Data_BaseConnectionString"
            connectionString="Data Source=DESKTOP-ERGQ9ON\SQLEXPRESS;Initial Catalog=Avtomagazin_Data_Base;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>